.card{
    width: 100%;
    height: 100%;
    cursor:default;
}
.auxiliar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card img{
    cursor: pointer;
}

.card h1{
    font-size: 16px;
}

.negocinhos {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.vermelha{
    width: 26%;
    height: 7vh;
    background-color: #ff3030;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #ff3030;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;

}
.vermelha h2{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.vermelha:active{
    transform: scale(0.9);
}

.amarelo{
    width: 30%;
    height: 7vh;
    background-color: #FF922E;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #FF922E;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;

}
.amarelo h2{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
.amarelo:active{
    transform: scale(0.9);
}

.verde{
    width: 30%;
    height: 7vh;
    background-color: #2FBE34;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #2FBE34;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;

}
.verde h2{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.verde:active{
    transform: scale(0.9);
}

.sumir{
    display: none;
}

.verm h1{
    color:#ff3030;
    text-decoration-line:line-through ;
}

.amare h1{
    color:#FF922E;
    text-decoration-line:line-through ;
}

.verd h1{
    color: #2FBE34;
    text-decoration-line:line-through ;
}
